<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/media_queries.css">
    <link rel="shortcut icon" href="../images/nav_bar/nexora-logo.png" type="image/x-icon">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
    <script type="text/javascript" src="../scripts/formvalidation.js" defer ></script>
</head>
<body class="padding-0 margin-0">
    <div class="signin-container flex-0 justify-center align-center">
        <% if (success && success.length > 0) { %>
          <div class="toast show"><%= success[0] %></div>
        <% } %>
        <% if (error && error.length > 0) { %>
          <div class="toast show"><%= error[0] %></div>
        <% } %>


        <div class="form-box flex-column-0 align-center padding-bottom-0">
            <div class="flex-column-0 align-center invisible-bg">
                <h1>Welcome back!</h1>
                <form id="signInForm" class="signup-signin-form flex-column-0 align-center" action="<%= LOGIN %>" method="post" novalidate >
                    <div class="input-control">
                        <input type="email" id="emailInput" name="username" placeholder="Email" required />
                        <div class="error error-text"></div>
                    </div>
                    <div class="input-control">
                        <input type="password" id="passwordInput" name="password" placeholder="Password" required autocomplete="current-password" />
                        <div class="error error-text"></div>
                    </div>
                    <div class="login-button">
                        <button>Log in</button>
                    </div>
                    <div class="register-here flex-column-0">
                        <p>Don't have an account? <a class="blueviolet-text text-decoration hover-effect" href="<%= REGISTER %>">Register here</a></p>
                        <div class="middle-line"></div>
                        <p>Not verified yet? <button class="blueviolet-text text-decoration link-button hover-effect" type="button"
                            onclick="document.getElementById('resendForm').submit()">Resend verification email</button>
                        </p>
                    </div>
                </form>

                <form id="resendForm" action="<%= RESEND_VERIFICATION_EMAIL %>" method="post">
                    <input type="hidden" name="email" id="emailHidden">
                </form>
                <script>
                    document.querySelector('input[name="username"]').addEventListener('input', e => {
                        document.getElementById('emailHidden').value = e.target.value;
                    });
                </script>
            </div>
            <div class="flex-0 justify-spc-btw form-box-footer">
                <p><a class="footer-text text-decoration def-text-font" href="<%= HOME %>">Home</a></p>
                <p><a class="footer-text text-decoration def-text-font" href="/about">About</a></p>
                <p><a class="footer-text text-decoration def-text-font" href="/contact">Contact Us</a></p>
            </div>
        </div>
    </div>
    <script>
    setTimeout(() => {
        document.querySelector('.toast')?.classList.remove('show');
        }, 3000);
    </script>

</body>
</html>